

 .container
 {
   position: absolute;
   top:50%;
   Left: 50%;
  transform: translate(-50% , -50%);
}

 .button{
    height: 60px;
    width: 100px;
    margin: 0 35px;
    border-radius: 50px ;
    border: none;
    outline: none;
    background : #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 40px;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 100px; 
}
.button2{
    height: 60px;
    width: 100px;
    margin: 0 35px;
    border-radius: 50px ;
    border: none;
    outline: none;
    background : #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 40px;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    text-align: relative ;
    letter-spacing: 0px;
    border-radius: 100px; 
}


.button3{
    height: 60px;
    width: 100px;
    margin: 0 35px;
    border-radius: 50px ;
    border: none;
    outline: none;
    background : #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 40px;
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 100px; 
    left: 570;
    top: 550 ;



}



.button2:hover{
    box-shadow: 0 5px 50px 0 #15f4ee  inset , 0 5px 50px 0 #15f4ee

}
.button3:hover{
    box-shadow: 0 5px 50px 0 #15f4ee  inset , 0 5px 50px 0 #15f4ee
}


.button:hover{
 box-shadow: 0 5px 50px 0 #15f4ee  inset , 0 5px 50px 0 #15f4ee
}
.logo{
    background: url(Logo\ for\ my\ webpage.png);
    margin: 40px;
    height: 40px;
}